body {
    background-color: navy;
}

.recbox {
  position: relative;
  width: 100%;
  height: 500px; 
  overflow: hidden;
  background-color: navy;
}

.recbox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  height: auto;
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;
  background: rgba(0, 0, 0, 0.4); 
  color: white;
}

.contact-column {
    align-items: flex-start;
}

.setlist-column {
    align-items: center;
}

.contact-column,
.setlist-column {
display: flex;
  flex-direction: column;
  flex: 1 1 45%;
  max-width: 45%;
}

.contact-list, .setlist-list {
  list-style: disc inside; 
  padding: 0;       /* removes default padding */
  margin: 0;        /* removes default margin */
}

.contact-list li, .setlist-list li {
  display: flex;
  align-items: center; /* vertically aligns icon and text */
  gap: 0.5rem;         /* controls spacing between icon and text */
  margin-bottom: 0.25rem; /* optional: reduce spacing between items */
}



.icon {
  margin-right: 0.5rem;
  vertical-align: middle;
  flex-shrink: 0; 
  font-size: 1.2rem;
}

.contact-section h2 {
    color: gold;
    font-family: 'Poppins', sans-serif;;
}

@media (max-width: 900px) {
  .recbox img  {
    object-fit: contain;
    height: auto;
  }
  .contact-list li, .setlist-list li {
    font-size: 0.95rem;
  }

  .icon {
    font-size: 1.3rem;
  }
}

@media (max-width: 650px) {
    h2 {
        font-size: 1.05rem;
    }
}

@media (max-width: 510px) {
  .overlay-content {
    flex-direction: column; 
    gap: 1rem;
    padding: 1rem;
  }

  .contact-list li, .setlist-list li {
    font-size: 0.85rem;
  }

  .icon {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 0.75rem;
  }
}
